<h2>Create a new dose</h2>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit 'Create dose now!', class: "btn btn-primary"  %>
  <% end %>
