.new-dose, .list-group{
  padding:10px;
  margin:10px 300px;
}

.show-page{
  padding:52px;
  background-image: url('https://unsplash.com/photos/08bOYnH_r_E');
  background-size: cover;
  height:100%;
  width:auto;
}
.new-cocktail{
  padding:52px;
  padding-bottom: 200px;
  background-image: url('https://unsplash.com/photos/Aq2GM7iV71A');
  background-size: cover;
}
.new-cocktail-title{
  h1, h3{
    font-family: 'Poiret One' ;
  }

  padding:40px 10px;
  margin:20px;
}
