.new-dose, .list-group{
  padding:10px;
  margin:10px 300px;
}
.new-dose a{
  text-decoration: none;
  opacity:0.6;
  color: black;
}
.new-dose a:hover{
  text-decoration: none;
  opacity:1;
}
.show-page{
  background-image: url("whitetone.jpg");
  background-size: cover;
  height:100%;
  width:auto;
}
